p{
    display: block; 
    text-align: center; 
    font-size: 12pt; 
    margin-top: -25px;
    margin-bottom: 30px;
    line-height: 1.8;
}

img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}